@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Library</h1>
    <p class="lead">This is My Library, here you can find a large variety of books that you can loan. Check it out ;) </p>
</div>

<div class="row">
   <h2>Lastest books:</h2>
</div>